<!DOCTYPE html>
<html>
  
  <head>
    <title>最新监控信息</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel='stylesheet' type='text/css' href='/css/site.css' />
    <script language="JavaScript">
      setTimeout(function(){location.reload()}, 60000);
    </script>
  </head>
  
  <body>
    
    <div id="table-of-contents">
      <h2>目录</h2>
      <div id="text-table-of-contents">
	<ul>
	  __ReplaceWithTOC__
	</ul>
      </div>
    </div>
    
    <a href="/navigation">导航</a>&emsp;
    <a href="/current">普通</a>&emsp;
    <a href="/current?type=warning">告警</a>&emsp;
    <a href="/current?type=detail">明细</a>&emsp;
    <a href="/current?type=simple">精简</a>&emsp;
    <a href="/current?type=simplest">极简</a>&emsp;
    
    __ReplaceWithSection__
    
  </body>
  
</html>
